/*
  Custom style for the contact form
*/

.contact-form {
  max-width: 600px;
  margin: 2rem auto;

  .form-control {
    background-color: var(--body-bg);
    border-color: var(--border-color);
    color: var(--text-color);
    
    &:focus {
      background-color: var(--body-bg);
      border-color: var(--link-color);
      box-shadow: 0 0 0 0.25rem rgb(var(--link-color-rgb) / 25%);
      color: var(--text-color);
    }
  }

  .btn-primary {
    background-color: var(--link-color);
    border-color: var(--link-color);
    
    &:hover {
      background-color: var(--link-hover-color);
      border-color: var(--link-hover-color);
    }
  }

  .form-label {
    color: var(--text-color);
  }
}
