@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

/* Custom styles */
#sidebar {
  .profile-wrapper {
    text-align: center;
    padding: 2rem;
    display: block !important;
    width: 100%;

    #avatar {
      display: block;
      width: 112px;
      height: 112px;
      margin: 0 auto 1rem;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: var(--avatar-border-color) 0 0 0 2px;

      img {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .site-title {
      display: block;
      text-align: center;
      font-size: 1.25rem;
      margin: 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      color: var(--sidebar-active-color);
    }

    .site-subtitle {
      font-size: 0.95rem;
      text-align: center;
      margin-top: 0.25rem;
      word-spacing: 0.5px;
      color: var(--sidebar-muted-color);
    }
  }
}